
<h1>Vídeo: Andreu Ibàñez - LiquidGalaxy</h1>

<p>
  Andreu Ibàñez nos presentará su experiencia con una tecnología de Google
  bastante única y desconocida, el Liquid Galaxy, un clúster de servidores y
  pantallas de gran tamaño que permiten visualizar los contenidos de Google
  Earth de una forma inmersiva, panorámica e interactiva. Desde como entró en
  este tema, como su trabajo le permitió establecer un trato directo con la
  central de Google en Mountain View, hasta explicarnos como funciona y los
  diferentes modelos en los que ha trabajado.
</p>

<p style="text-align: center;">

<iframe width="853" height="480"
	src="//www.youtube-nocookie.com/embed/CxXwS_mAaI4" frameborder="0"
	allowfullscreen></iframe>
</p>
