
<h1>Vídeo: Antonio Zugaldia - Google Glass para desarrolladores</h1>

<p>
  La presentación estará estructurada en dos partes. En la primera, se realizará
  una demostración practica de Google Glass, en la que se detallarán sus
  principales funcionalidades y modos de operación. A continuación, se pasará a
  explicar el modo en el que se programa Glassware, utilizando el Mirror API o
  el GDK (Glass Development Kit). Durante esta parte se analizará en detalle el
  código completo de un Glassware de ejemplo integrado con CartoDB.
</p>

<p style="text-align: center;">

<iframe width="853" height="480"
	src="//www.youtube-nocookie.com/embed/IMN3CLGuuXk" frameborder="0"
	allowfullscreen></iframe>
</p>
