
<h1>Vídeo: Carlos Ulloa - HelloRun: Velocidad y ritmo en HTML5</h1>

<p>
  HelloRun es un juego en HTML5 creado por HelloEnjoy y concebido para
  aprovechar al máximo las últimas tecnologías en navegadores, tanto para
  ordenadores como para plataformas móviles.
</p>

<p>
  En esta charla se analiza el desarrollo del proyecto, haciendo hincapié en
  aspectos creativos y técnicos, y en los desafíos y oportunidades que ofrecen
  WebGL y Web Audio API para construir experiencias interactivas en 3D.
</p>

<p style="text-align: center;">

<iframe width="853" height="480"
	src="//www.youtube-nocookie.com/embed/E1svnu9evWg" frameborder="0"
	allowfullscreen></iframe>
</p>
