
<h1>Vídeo: Javier Arévalo - Cosas que aprendí programando en el siglo XX</h1>

<p>
  "Cosas que aprendí programando en el siglo XX", contaré un poco de la
  trayectoria y todas las anécdotas que pueda para describir aspectos del
  desarrollo de software: planning vs agile, backups y version control,
  programar en equipo. depurar, etc.
</p>

<p style="text-align: center;">

<iframe width="853" height="480"
	src="//www.youtube-nocookie.com/embed/8eSee_cSsVM" frameborder="0"
	allowfullscreen></iframe>
</p>
