
<h1>Vídeo: Luis Iván Cuende - Bitcoin</h1>

<p>
  Bitcoin es una moneda descentralizada que nació en 2008 como una respuesta a
  la crisis económica derivada de la extremada centralización del sistema
  financiero y la caída de los bancos. Desde entonces su popularidad no ha
  dejado de crecer y se ha posicionado como el futuro del dinero. Pero ello no
  complace a bancos y gobiernos, que buscan cualquier manera posible de acabar
  con Bitcoin o regularlo. En esta charla aprenderemos cómo comenzar a
  desarrollar productos usando Bitcoin y qué es Pauv, una nueva forma de
  intercambiar valor sin intermediarios, usando el protocolo Bitcoin.
</p>

<p style="text-align: center;">

<iframe width="853" height="480"
	src="//www.youtube-nocookie.com/embed/pSuJkxh4sFE" frameborder="0"
	allowfullscreen></iframe>
</p>
