
<h1>Vídeo: Txus Ballesteros - Android Multiscreen</h1>

<p>
  Uno de los principales handicaps que los diseñadores y desarrolladores nos
  encontramos en Android, es la gran variedad de pantallas y configuraciones nos
  podemos llegar a encontrar entre nuestros usuarios, en esta sesión os
  ayudaremos a conseguir que vuestras Apps puedan llegar a todos ellos y no
  morir en el intento, el camino no será fácil, pero estamos seguros de que
  merecerá la pena.
</p>

<p style="text-align: center;">

<iframe width="853" height="480"
	src="//www.youtube-nocookie.com/embed/6y7lfKa_LK8" frameborder="0"
	allowfullscreen></iframe>
</p>
