<h1>Agenda</h1>

<p>

  El evento tendrá lugar el sábado 9 de noviembre de 2013, de 9:30 a 19:30
  aproximadamente, en el <a href="#/localizacion">AJE Madrid</a>.
</p>

<p>
  ¿Quieres participar en el DevFest Madrid impartiendo una
  ponencia? <a href="https://docs.google.com/forms/d/1cEINCefUnUsXl-4m9ZJPP-wmnhGQGsUPMHdqdtN8QB8/viewform">Háznoslo
  saber mediante este formulario.</a>
</p>

<p>
  La agenda del DevFest Madrid está compuesta de 8 ponencias, divididas en 2
  <i>tracks</i> (A y B) con 3 ponencias cada uno y 2 ponencias plenaria. Cada
  una de las ponencias tiene una duración máxima de una hora, con un tiempo
  entre ponencia de al menos 30 minutos que será utilizado para que los
  asistentes que lo deseen puedan contactar de forma más directa con los
  ponentes.
</p>


<div class="table-responsive">
  <table class="table table-bordered table-hover agenda">
    <caption><h3>Agenda DevFest Madrid 2013</h3><i>(preliminar, puede sufrir cambios)</i></caption>
    <col class="horas">
    <col class="trak">
    <col class="trak">
    <thead>
      <tr>
	<th></th>
	<th class="active">Sala A</th>
	<th class="active">Sala B</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bloque1">
	<th class="active">9:30 - 10:00</th>
	<td>Presentación del evento</td>
	<td>---</td>
      </tr>
      <tr class="bloque2">
	<th class="active">10:00 - 11:00</th>
	<td class="success">
	  Sesión A1<br>
	  <a href="#/agenda/#andreu"><b>Andreu Ibàñez</b></a>
	</td>
	<td class="success">
	  Sesión B1<br>
	  <a href="#/agenda/#luis"><b>Luis Iván Cuende</b></a>
	</td>
      </tr>
      <tr class="bloque1">
	<th class="active">11:00 - 11:30</th>
	<td  class="warning"><i>meet the expert</i></td>
	<td  class="warning"><i>meet the expert</i></td>
      </tr>
      <tr class="bloque2">
	<th class="active">11:30 - 12:30</th>
	<td  class="success">
	  Sesión plenaria 1<br>
	  <a href="#/agenda/#koush-1"><b>Koushik Dutta - CyanogeMod</b></a>
	</td>
	<td>---</td>
      </tr>
      <tr class="bloque1">
	<th class="active">12:30 - 13:00</th>
	<td  class="warning"><i>meet the expert</i></td>
	<td>---</td>
      </tr>
      <tr class="bloque3">
	<th class="active">13:00 - 14:30</th>
	<td colspan="2">Comida</td>
      </tr>
      <tr class="bloque2">
	<th class="active">14:30 - 15:30</th>
	<td class="success">
	  Sesión A2<br>
	  <a href="#/agenda/#antonio"><b>Antonio Zugaldia</b></a>
	</td>
	<td class="success">
	  Sesión B2<br>
	  <a href="#/agenda/#javier"><b>Javier Arévalo</b></a>
	</td>
      </tr>
      <tr class="bloque1">
	<th class="active">15:30 - 16:00</th>
	<td  class="warning"><i>meet the expert</i></td>
	<td  class="warning"><i>meet the expert</i></td>
      </tr>
      <tr class="bloque2">
	<th class="active">16:00 - 17:00</th>
	<td  class="success">
	  Sesión plenaria 2</br>
	  <a href="#/agenda/#koush-2"><b>Koushik Dutta - Chromecast</b></a>
	</td>
	<td>---</td>
      </tr>
      <tr class="bloque1">
	<th class="active">17:00 - 17:30</th>
	<td  class="warning"><i>meet the expert</i></td>
	<td>---</td>
      </tr>
      <tr class="bloque2">
	<th class="active">17:30 - 18:30</th>
	<td class="success">Sesión A3</td>
	<td class="success">
	  Sesión B3<br>
	  <a href="#/agenda/#carlos"><b>Carlos Ulloa</b></a>
	</td>
      </tr>
      <tr class="bloque1">
	<th class="active">18:30 - 19:00</th>
	<td  class="warning"><i>meet the expert</i></td>
	<td  class="warning"><i>meet the expert</i></td>
      </tr>
      <tr class="bloque1">
	<th class="active">19:00 - 19:15</th>
	<td>Clausura del evento</td>
	<td>---</td>
      </tr>

    </tbody>
  </table>
</div>


Detalle de sesiones:

<h4><a name="andreu"></a>Andreu Ibàñez, 10:00 - 11:00 en Sala A</h4>
<p>
  Andreu Ibàñez nos presentará su experiencia con una tecnología de Google
  bastante única y desconocida, el Liquid Galaxy, un clúster de servidores y
  pantallas de gran tamaño que permiten visualizar los contenidos de Google
  Earth de una forma immersiva, panorámica e interactiva. Desde como entró en
  este tema, como su trabajo le permitió establecer un trato directo con la
  central de Google en Mountain View, hasta explicarnos como funciona y los
  diferentes modelos en los que ha trabajado.
</p>

<h4><a name="luis"></a>Luis Iván Cuende, 10:00 - 11:00 en Sala B</h4>
<p>
  Bitcoin es una moneda descentralizada que nació en 2008 como una respuesta a
  la crisis económica derivada de la extremada centralización del sistema
  financiero y la caída de los bancos. Desde entonces su popularidad no ha
  dejado de crecer y se ha posicionado como el futuro del dinero. Pero ello no
  complace a bancos y gobiernos, que buscan cualquier manera posible de acabar
  con Bitcoin o regularlo. En esta charla aprenderemos cómo comenzar a
  desarrollar productos usando Bitcoin y qué es Pauv, una nueva forma de
  intercambiar valor sin intermediarios, usando el protocolo Bitcoin.
</p>

<h4><a name="koush-1"></a>Koushick Dutta (Koush) - (1), <i>en inglés</i>, 11:30
- 12:30 en Sala A</h4>
<p>
  Charla general sobre CyanogenMod, Open Source y el futuro de Android.
</p>


<h4><a name="antonio"></a>Antonio Zugaldia, 14:30 - 15:30 en Sala A</h4>

<p>
  La presentación estará estructurada en dos partes. En la primera, serealizaráa
  una demostración practica de Google Glass, en la que se detallarán sus
  principales funcionalidades y modos de operación. A continuación, se pasará a
  explicar el modo en el que se programa Glassware, utilizando el Mirror API o
  el GDK (Glass Development Kit). Durante esta parte se analizará en detalle el
  código completo de un glassware de ejemplo integrado con CartoDB
</p>

<h4><a name="javier"></a>Javier Arévalo, 14:30 - 15:40 en Sala B</h4>
<p>
  "Cosas que aprendí programando en el siglo XX", contaré un poco de la
  trayectoria y todas las anécdotas que pueda para describir aspectos del
  desarrollo de software: planning vs agile, backups y version control,
  programar en equipo. depurar, etc.
</p>


<h4><a name="koush-2"></a>Koushick Dutta (Koush) - (2), <i>en inglés</i>, 16:00
    - 17:00 en Sala A</h4>
<p>
  Chromecast, protocolos airplay, APIs de media codec, etc.
</p>


<h4><a name="carlos"></a>Carlos Ulloa, 17:30 - 18:30 en Sala B</h4>

<p>
  <b>HelloRun: Velocidad y ritmo en HTML5</b>
</p>
<p>
  HelloRun es un juego en HTML5 creado por HelloEnjoy y concebido para
  aprovechar al máximo las últimas tecnologías en navegadores, tanto para
  ordenadores como para plataformas móviles.
</p>
<p>
  En esta charla se analiza el desarrollo del proyecto, haciendo hincapié en
  aspectos creativos y técnicos, y en los desafíos y oportunidades que ofrecen
  WebGL y Web Audio API para construir experiencias interactivas en 3D.
</p>
