<h3>Agencia colaboradora</h3>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail center">
	  <a href="http://www.gacetatecnologica.com">
            <img class="agencia-logo"
                 src="images/agencia/gaceta_logo_rojo.png"
                 alt="Gaceta Tecnológica">
	  </a>
            <div class="caption">
                <a href="http://www.gacetatecnologica.com"><b>Gaceta
                Tecnológica</b></a>
            </div>
        </div>
    </div>
</div>
