<h1>Agenda</h1>

<p>

  El evento tendrá lugar el sábado 9 de noviembre de 2013, de 9:30 a 19:30
  aproximadamente, en el <a href="#/localizacion">AJE Madrid</a>.
</p>

<p>
¿Quieres participar en el DevFest Madrid impartiendo una
ponencia? <a href="https://docs.google.com/forms/d/1cEINCefUnUsXl-4m9ZJPP-wmnhGQGsUPMHdqdtN8QB8/viewform">Háznoslo
saber mediante este formulario.</a>
</p>

<p>
  La agenda del DevFest Madrid está compuesta de 7 ponencias, divididas en 2
  <i>tracks</i> (A y B) diferentes cada uno de 3 ponencias y 1 ponencia
  plenaria. Cada una de las ponencias tiene una duración máxima de una hora y
  media, con un tiempo entre ponencia de al menos 30 minutos que será utilizado
  para que los asistentes que lo deseen puedan contactar de forma más directa
  con los ponentes. De forma paralela a las ponencias, los asistentes que lo
  deseen podrán organizar de forma emergente sus propios eventos o reuniones de
  interés en un área común destinada a este fin.
</p>


<div class="table-responsive">
  <table class="table table-bordered table-hover agenda">
    <caption><h3>Agenda DevFest Madrid 2013</h3></caption>
    <col class="horas">
    <col class="trak">
    <col class="trak">
    <thead>
      <tr>
	<th></th>
	<th class="active">Track A</th>
	<th class="active">Track B</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bloque1">
	<th class="active">9:30 - 10:00</th>
	<td colspan="2">Presentación del evento</td>
      </tr>
      <tr class="bloque3">
	<th class="active">10:00 - 11:30</th>
	<td class="success">Sesión A1</td>
	<td class="success">Sesión B1</td>
      </tr>
      <tr class="bloque1">
	<th class="active">11:30 - 12:00</th>
	<td  class="warning" colspan="2"><i>meet the expert</i></td>
      </tr>
      <tr class="bloque3">
	<th class="active">12:00 - 13:30</th>
	<td  class="success" colspan="2">Sesión plenaria</td>
      </tr>
      <tr class="bloque1">
	<th class="active">13:30 - 14:00</th>
	<td  class="warning" colspan="2"><i>meet the expert</i></td>
      </tr>
      <tr class="bloque2">
	<th class="active">14:00 - 15:00</th>
	<td colspan="2">Comida</td>
      </tr>
      <tr class="bloque3">
	<th class="active">15:00 - 16:30</th>
	<td class="success">Sesión A2</td>
	<td class="success">Sesión B2</td>
      </tr>
      <tr class="bloque1">
	<th class="active">16:30 - 17:00</th>
	<td  class="warning" colspan="2"><i>meet the expert</i></td>
      </tr>
      <tr class="bloque3">
	<th class="active">17:00 - 18:30</th>
	<td class="success">Sesión A3</td>
	<td class="success">Sesión B3</td>
      </tr>
      <tr class="bloque1">
	<th class="active">18:30 - 19:00</th>
	<td  class="warning" colspan="2"><i>meet the expert</i></td>
      </tr>
      <tr class="bloque1">
	<th class="active">19:00 - 19:15</th>
	<td colspan="2">Clausura del evento</td>
      </tr>

    </tbody>
  </table>
</div>
