<h1>Información para patrocinadores</h1>

<p>
Para celebrar un evento como el DevFest, toda ayuda de patrocinadores es
bienvenida y ayudará a crear un evento mucho mejor para todos. La visibilidad
del patrociono puede depender de cada patrocinador: aparecerá en la web del
evento, podría tener visibilidad en el lugar del evento, en forma
de <i>merchandising</i> repartidos a los participantes, etc.
</p>

<p>
Estamos abiertos a cualquier tipo de patrocinio, a continuación algunos ejemplos
de en qué necesitamos ayudar:
</p>

<ul>
<li>Participar en alguna de las sesiones como ponente.</li>
<li>Pago de viajes y alojamiento de alguno de los ponentes.</li>
<li><i>Catering</i> para los participantes en el evento.</li>
<li><i>Merchandising</i> para los paricipantes, regalos, etc.</li>
<li>Ayuda con la logística de la organización del evento: publicidad, difusión,
  lugar de celebración, gestión del evento, etc. </li>
</ul>
