
<h1></h1>

<p>
  Los GDG DevFest son eventos a gran escala dirigidos por la comunidad y para la
  comunidad que se celebran anualmente por todo el mundo. Cada uno de los
  eventos está organizado por una comunidad local de desarrolladores que, en
  base a los intereses de dicha comunidad, elaboran su agenda y contenidos. La
  temática de los DevFest suele estar relacionada con productos de
  Google. Aunque no hay dos DevFest iguales, todos están alimentados por la
  creencia de que cuando los desarrolladores se reúnen para intercambiar ideas,
  cosas increíbles pueden suceder.
</p>

<p>
  Tras algunas años sin celebrar un DevFest en Madrid, este año
  el <a href="https://plus.google.com/u/0/communities/106561953391669938292">GDG
  Madrid</a> inicia la aventura de organizar un DevFest en la capital española.
  El objetivo del GDG es consolidar la organización de este evento ofreciendo
  contenido de calidad que pueda ser de interés para la comunidad desarrolladora
  nacional.
</p>

<p>
  La temática de los contenidos del evento gira, principalmente, entorno a
  tecnologías desarrolladas por Google, aunque no de forma exclusiva. Para este
  DevFest Madrid se plantean las siguiente líneas temáticas principales:
<ul>
  <li>Dispositivos Android, desde diferentes aspectos de la plataforma, como
podría ser la programación, su seguridad, la personalización, hasta la
utilización de nuevos dispotivos que hacen uso de Android, como pueden ser las
Google Glass, los nuevo ChromeCast, dispositivos de Android TV y Google TV, etc.
  </li>
  <li>Programación web, recogiendo aspectos utilización de HTML5, diferentes
  librerías de uso y distintas posibilidades multimedia del lenguaje de marcado,
  llegando a las instrumentaciones de servicios y servidores en <i>back-end</i>
  utilizando despligues en la nube o plataformas de servicios.</li>
</ul>
</p>

<p>
  El formato del DevFest Madrid 2013 estará basado en los siguientes puntos:
  <ul>
    <li><b>Ponencias:</b> se organizarán una serie de ponencias en los que
    expertos en un determinado ámbito tecnológico expondrán su conocimiento a
    los asistentes. Cada una de estas sesiones tendrá una duración aproximada de
    una hora y media, en la que habrá tiempo en que los participantes podrán
    exponer sus preguntas.</li>
    <li><b>Interacción con ponentes (<i>meet the expert</i>):</b> además del
    tiempo en el que el ponente hace su intervención en su sesión, se habilitará
    una espacio para que las personas interesadas en el tema expuesto quiera más
    información o se desee abrir un debate al respecto, ya sea en el tiempo
    entre sesión o sesión o en paralelo con otras sesiones.</li>
    <li><b><i>Networking</i> y eventos emergentes:</b> adicionalmente a las
    sesiones expositivas, en el DevFest Madrid se quiere dar mucha importancia a
    las relaciones entre todos los participantes en el evento. Se dispondrá de
    un espacio común, paralelo a las sesiones, en el que los asistentes podrán
    interactuar y que pueda dar cabida a debates o eventos emergentes de interés
    para los participantes.</li>
  </ul>
</p>
