<h1>Inscripción</h1>

<p>
  El proceso de inscripción y control de asistencia se llevará a cabo utilizando
  la plataforma <a href="http://www.eventbrite.es/">Eventbrite</a>.
</p>
<p>
  El aforo para el festival es muy limitado, por lo que será necesario tener un
  código promocional para poder tener acceso a obtener una de las entradas del
  evento. Si no te ha llegado un código, consulta tu red de contactos para que
  te puedan conseguir uno o, según se acerque el evento y si quedan plazas
  disponibles, se abrirá el proceso de inscripción sin necesidad de tener un
  código promocional.
</p>


<a href="http://devfestmadrid2013.eventbrite.es/">
  <center>
    <h3>Acceso al evento</h3>
  </center>
</a>
