<h1>Localización</h1>

<div class="media">
  <a class="pull-left" href="http://www.ajemadrid.es/">
    <img class="media-object" 
	 src="/images/location/logo_AJE.png" 
	 alt="Logo AJE">
  </a>
  <div class="media-body">
    <h2 class="media-heading">
      <a href="https://plus.google.com/102057737337644402929">
	AJE Madrid
      </a>
    </h2>
    <br/>
    <p>
      Calle Matilde Diez, 11 28002 Madrid
    </p>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-6">
    <div id="carousel-location" class="carousel slide">
      
      <!-- Indicators -->
      <ol class="carousel-indicators">
	<li data-target="#carousel-location" data-slide-to="0" class="active"></li>
	<li data-target="#carousel-location" data-slide-to="1"></li>
	<li data-target="#carousel-location" data-slide-to="2"></li>
	<li data-target="#carousel-location" data-slide-to="4"></li>
      </ol>
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
	<div class="item active">
	  <center>
	    <img class="carousel" 
		 src="/images/location/AJE_Madrid_0.jpg" 
		 alt="AJE Madrid">
	  </center>
	</div>
	<div class="item">
	  <center>
	    <img class="carousel" 
		 src="/images/location/AJE_Madrid_1.jpg" 
		 alt="AJE Madrid">
	  </center>
	</div>
	<div class="item">
	  <center>
	    <img class="carousel" 
		 src="/images/location/AJE_Madrid_2.jpg" 
		 alt="AJE Madrid">
	  </center>
	</div>
	<div class="item">
	  <center>
	    <img class="carousel" 
		 src="/images/location/AJE_Madrid_3.jpg" 
		 alt="AJE Madrid">
	  </center>
	</div>
      </div>
      
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-location" data-slide="prev">
	<span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-location" data-slide="next">
	<span class="icon-next"></span>
      </a>
    </div> 
  </div>
  
  <div class="col-md-6">
    <iframe width="425" height="350" frameborder="0" scrolling="no"
    marginheight="0" marginwidth="0"
    src="https://www.google.es/maps?t=m&amp;q=AJE+Madrid&amp;ie=UTF8&amp;hq=AJE&amp;hnear=Madrid,+Comunidad+de+Madrid&amp;ll=40.44606,-3.673636&amp;spn=0.007773,0.013619&amp;output=embed"></iframe><br /><small><a href="https://www.google.es/maps?t=m&amp;q=AJE+Madrid&amp;ie=UTF8&amp;hq=AJE&amp;hnear=Madrid,+Comunidad+de+Madrid&amp;ll=40.44606,-3.673636&amp;spn=0.007773,0.013619&amp;source=embed"
    style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
  </div>
</div>

<p>
El DevFest Madrid 2013 se celebrará en el en la sede de AJE Madrid (también
conocido como <b>garAJE</b>), un lugar propicio para que surjan grande ideas y
colaboraciones, en un ambiente que representa la fusión del Madrid más auténtico
y la modernidad.
<p>

<p>
El local se encuentra cercano a la metro <b>Prosperidad</b> (línea 4), a unos 30
minutos en transporte público de Atocha, a 33 minutos de la estación de tren de
Chamartín y a 40 minutos en transporte público del aeropuerto de Barajaras.
</p>
  

<h2>Cómo llegar</h2>

<h3>En coche</h3>

<h3>Desde el aeropuerto de Barajas</h3>

<h3>Desde la estación de tren de Atocha</h3>

<h3>Desde la estación de tren de Chamartín</h3>
