<h1>Otros DevFest</h1>

<ul class="media-list">
    <li class="media">
        <a class="pull-left" href="http://gdgdevfestbcn2013-es2.eventbrite.es/">
            <img class="media-object"
                 src="http://ebmedia.eventbrite.com/s3-build/images/2131261/36750263600/1/logo.png"
                 alt="DevFest Barcelona">
        </a>
        <div class="media-body">
            <h4 class="media-heading">GDG DevFest Barcelona 2013</h4>
            <p>Viernes 11 de octubre, en Barcelona</p>
        </div>
    </li>
</ul>