<h1>Otros DevFest</h1>

<ul class="media-list">

  <!-- DevFest Barcelona -->
    <li class="media">
        <a class="pull-left" target="_blank" href="http://gdgdevfestbcn2013-es2.eventbrite.es/">
            <img class="media-object logo-devfest"
                 src="http://ebmedia.eventbrite.com/s3-build/images/2131261/36750263600/1/logo.png"
                 alt="DevFest Barcelona">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
	      <a href="http://gdgdevfestbcn2013-es2.eventbrite.es/"
                 target="_blank">
		GDG DevFest Barcelona 2013
	      </a>
	    </h4>
            <p>Viernes 11 de octubre de 2013, en Barcelona</p>
        </div>
    </li>


  <!-- DevFest Sur -->
    <li class="media">
        <a class="pull-left" target="_blank" href="http://sur.gdgdevfest.com/">
            <img class="media-object logo-devfest"
                 src="http://sur.gdgdevfest.com/img/devfestsur.png"
                 alt="DevFest Sur">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
	      <a href="http://sur.gdgdevfest.com/" target=_"blank">
		GDG DevFest Sur 2013
	      </a>
	    </h4>
            <p>25-26 de octubre de 2013, en Córdoba</p>
        </div>
    </li>

</ul>
