<h3>Patrocinadores</h3>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="sponsor-logo"
                 src="images/sponsors/google-logo.png"
                 alt="Google Logo">
            <div class="caption">
                <a href="http://www.google.es"><b>Google</b></a>
            </div>
        </div>
    </div>
</div>

<p>
   ¿Estás interesado en participar como pratrocinador del evento? <a href="#/info-patrocinadores">Más de información aquí.</a>
</p>