<h1>Ponentes</h1>

<h2>Participa en el DevFest Madrid</h2>

<p>
¿Quieres participar en el DevFest Madrid impartiendo una
ponencia? <a href="https://docs.google.com/forms/d/1cEINCefUnUsXl-4m9ZJPP-wmnhGQGsUPMHdqdtN8QB8/viewform">Háznoslo
saber mediante este formulario.</a>
</p>

<h2>Ponentes confirmados</h2>

<p>
  Desde la organización del DevFest Madrid se está trabajando por conseguir para
  los asistentes el mejor contenido con ponentes de gran calidad y expertos de
  referencia en su campo de trabajo. El detalle de las ponencias, su contenido y
  horario está detallado en la <a href="#/agenda">agenda</a> y a continuación se
  presenta la lista de los ponentes que confirman su participación en el evento.
</p>

<br/>

<ul class="media-list">

  <a name="javier"></a>
  <li class="media ponente">
    <a class="pull-left" href="http://www.iguanademos.com/Jare/wp/?page_id=2395">
      <img class="media-object ponente-photo"
  src="https://si0.twimg.com/profile_images/1318138633/FacebookPic.jpg"
  alt="Javier Arévalo">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
	<a class="pull-left" href="http://www.iguanademos.com/Jare/wp/?page_id=2395">
	  Javier Arévalo
	</a>
      </h4>
      <br/>
      <p>
	My name is Javier Arévalo Baeza, I was born in sunny Spain in the year
	1970. I have been making videogames for over 25 years, and I intend to
	keep doing that for as long as I can.
      </p>
    </div>
  </li>


  <a name="txus"></a>
  <li class="media ponente">
    <a class="pull-left" href="http://mobandme.com/">
      <img class="media-object ponente-photo"
	   src="/images/ponentes/txusballesteros.jpg"
	   alt="Txus Ballesteros">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
	<a class="pull-left" href="http://modandme.com">
	  Txus Ballesteros
	</a>
      </h4>
      <br/>
      <p>
	Fundador y CTO de Mob&Me, apasionado por el desarrollo de software y
	ganador de varios certámenes, siempre ligado al desarrollo de
	aplicaciones móviles. Dada su inquietud por la tecnología y bajo la
	motivación de tener un proyecto empresarial propio, a principios del año
	2012 decidió montar Mob&Me, una start-up situada en Bilbao y dedica el
	100% de sus esfuerzos y recursos a la creación de productos y servicios
	orientados al sector móvil.
      </p>
    </div>
  </li>

  
  
  <a name="luis"></a>
  <li class="media ponente">
    <a class="pull-left" href="http://luisivan.net/">
      <img class="media-object ponente-photo"
	   src="/images/ponentes/LuisIvanCuende.jpg"
	   alt="Luis Iván Cuende">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
	<a class="pull-left" href="http://luisivan.net/">
	  Luis Iván Cuende
	</a>
      </h4>
      <br/>
      <p>
	Comencé en 2008 creando el sistema operativo libre Asturix como
	alternativa a Windows o Mac. En 2010 Asturix fue elegido entre uno de
	los 20 proyectos más innovadores de Europa en Campus Party.
      </p>
      <p>
	En 2011 ya tenía equipo formado y lanzamos Asturix 3, el primer sistema
	operativo con reconocimiento facial, tecnología que incorporaría Google
	un año después en su sistema Android.
      </p>
      <p>
	Ese mismo año gané el premio a mejor programador de Europa menor de 18
	años, HackNow, y decidí crear mi primera startup, Holalabs, que fracasó
	un año después. Con varias lecciones aprendidas, lancé Cardwee, que ya
	está funcionando a día de hoy, y ahora me hallo inmerso en otro nuevo
	proyecto que tiene que ver con Bitcoin y que revelaré pronto.
      </p>
      <p> 
	Entre tanto también fue nombrado asesor de la Vicepresidenta de la
	Comisión Europea, Neelie Kroes. Y todo con 18 años.
      </p>
    </div>
  </li>
  
  

  <a name="koush"></a>
  <li class="media ponente">
    <a class="pull-left" href="https://plus.google.com/103583939320326217147/posts">
      <img class="media-object ponente-photo"
  src="https://lh3.googleusercontent.com/-NoOTwIkqiB0/Tg0H1MQvPVI/AAAAAAAA3zo/27dOSVC3qaY/w481-h480-no/Untitled-1.png"
  alt="Koushik Dutta (Koush)">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
	<a class="pull-left" href="https://plus.google.com/103583939320326217147/posts">
	  Koushik Dutta (Koush)
	</a>
      </h4>
      <br/>
      <p>
	I write code. Mostly for Android. Check out my apps!: 
	<a href="https://play.google.com/store/apps/details?id=com.koushikdutta.backup">Helium</a>,
	<a href="https://play.google.com/store/apps/details?id=com.koushikdutta.rommanager&hl=en">ROM
	Manager</a>, 
	<a href="https://play.google.com/store/apps/details?id=com.koushikdutta.desktopsms">DeskSMS</a>, 
	<a href="https://play.google.com/store/apps/details?id=com.koushikdutta.tether&hl=en">Tether</a>
      </p>
    </div>
  </li>


  <a name="andreu"></a>
  <li class="media ponente">
    <a class="pull-left" href="http://about.me/andreuibanez">
      <img class="media-object ponente-photo"
	   src="/images/ponentes/andreu-glass.jpg"
	   alt="Andreu Ibañez">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
	<a class="pull-left" href="http://about.me/andreuibanez">
	  Andreu Ibañez
	</a>
      </h4>
      <br/>
      <p>
	Andreu Ibanez is the Project Manager of Ponent 2002, a SMB IT company
	located in Lleida, Spain. With 25 years experience in technology he has
	always been involved with the latest and has a never ending innovation
	attitude. Spain Technical Manager for companies such as Commodore and
	Olivetti, and being on the Internet business from 1993, Andreu is now
	focused in creating new technologies for areas as Archaeology, Multi
	display walls and Drones. His presentation is about Google Liquid Galaxy
	technology, an amazing and immersive way of navigation among the Google
	Earth contents.
	</p>
    </div>
  </li>


  <a name="carlos"></a>
  <li class="media ponente">
    <a class="pull-left" href="http://helloenjoy.com">
      <img class="media-object ponente-photo"
  src="/images/ponentes/CarlosUlloa0001.jpg"
  alt="Carlos Ulloa">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
	<a class="pull-left" href="http://helloenjoy.com">
	  Carlos Ulloa 
	</a>
      </h4>
      <br/>
      <p>
	Carlos Ulloa is an interactive designer, co-founder of HelloEnjoy along
	with his partner Liber Aguilera.
      </p>
      <p>
	They make creative apps and games for clients like Disney, Sony,
	Samsung, Swarovski, Absolut, Interscope, Lexus, Nissan and Peugeot, but
	they are better known for their innovative personal projects using the
	latest 3D technologies.
      </p>
      <p>
	Having released <a href="http://helloracer.com">HelloRacer</a> and
	<a href="http://helloenjoy.com/helloflower">helloflower</a>, they
	recently launched <a href="http://hellorun.helloenjoy.com">HelloRun</a>,
	an HTML5 game with music by Du Tonc.
      </p>
    </div>
  </li>

  <a name="antonio"></a>
  <li class="media ponente">
    <a class="pull-left" href="https://plus.google.com/u/0/104357643510166885799/posts">
      <img class="media-object ponente-photo"
	   src="/images/ponentes/AntonioZugaldia.jpg" alt="Antonio Zugaldia">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
	<a class="pull-left" href="https://plus.google.com/u/0/104357643510166885799/posts">
	  Antonio Zugaldia
	</a>
      </h4>
      <br/>
      <p>
	Antonio es un Glass Explorer, Glass Pioneer y uno de los ganadores del
	Glass Foundry organizado por Google en Nueva York. A principios de 2013
	co-fundó Silica Labs de la que es Director de Tecnología, una empresa
	con sede en Washington, DC que se dedica exclusivamente al desarrollo de
	aplicaciones para Google Glass y otros wearable devices. Antonio es
	además co-organizador del GDG y del grupo de Google Glass en Washington,
	DC. Originalmente de Granada, lleva alrededor de 5 años residiendo en
	Estados Unidos.
	</p>
    </div>
  </li>


</ul>
