<h1>Post-DevFest Madrid 2013</h1>


<p>
  Aunque el DevFest Madrid 2013 ha finalizado, todavía queda mucho trabajo por
  hacer y mucha información para recopilar. Esta sección está dedicada a
  aglutiar todo el material generado en el evento. Queremos que todos aquellos
  que acudieron al evento puedan volver a ver las intervenciones de los
  ponentes, poder ver aquellas que por ser <i>tracks</i> en paralelo no se
  pudieron ver, o sixfmplemente cualquier persona pueda ver qué es lo que
  ocurrió en el DevFest.
</p>

<p>
  Además del material del evento, es muy importante para la organización y sus
  patrocinadores poder conocer la opinión de los participantes y conocer de
  primera mano qué mejorar de cara a futuros eventos.
</p>

<h2>Vídeos del evento</h2>

<p>
  Todas las ponencias del evento fueron grabadas para poder ser vistas a
  posteriori. A continuación, el listado de los vídeos disponibles de las
  ponencias.
</p>

<ul class="media-list">

  <li class="media video">
    <a 
       class="pull-left" 
       href="/#/videos/koush-cyanogenmod">
      <img class="media-object video-photo"
	   src="http://i.ytimg.com/vi/QqvMMsSlpMU/0.jpg"
	   alt="Koushick Dutta (Koush) - CyanogenMod">
      <div class="media-body">
	<h4 class="media-heading">
	  Koushick Dutta (Koush) - CyanogenMod
    </a>
    </h4>
    <br/>
    <p>
      A talk about the history of CyanogenMod, why the company was founded,
      and how they plan to change the mobile industry for the better.
    </p>
    </div>
  </li>


  <li class="media video">
    <a 
       class="pull-left" 
       href="/#/videos/carlos-ulloa-hellorun">
      <img class="media-object video-photo"
	   src="http://i.ytimg.com/vi/E1svnu9evWg/0.jpg"
	   alt="Carlos Ulloa - HelloRun: Velocidad y ritmo en HTML5">
      <div class="media-body">
	<h4 class="media-heading">
	  Carlos Ulloa - HelloRun: Velocidad y ritmo en HTML5
    </a>
    </h4>
    <br/>
    <p>
      HelloRun es un juego en HTML5 creado por HelloEnjoy y concebido para
      aprovechar al máximo las últimas tecnologías en navegadores, tanto para
      ordenadores como para plataformas móviles.
    </p>
    <p>
      En esta charla se analiza el desarrollo del proyecto, haciendo hincapié en
      aspectos creativos y técnicos, y en los desafíos y oportunidades que
      ofrecen WebGL y Web Audio API para construir experiencias interactivas en
      3D.
    </p>
    </div>
  </li>


</ul>


<h2>Resultados de encuestas de valoración del evento</h2>

<ul>
  <li>
    <a href="https://docs.google.com/forms/d/1UD6my-UBDLlphy3LGdM-vM4xhPKicJJXTMa7PIdgUbI/viewanalytics">
      Resultados de la encuesta de evaluación general del evento
  </a></li>
  <li>
    <a href="https://docs.google.com/forms/d/1cfOKqqXoNsv3JuElVhkVQv7QiiZl8CrU4wh-k7Ra3Lw/viewanalytics">
      Resultados de la encuesta de evaluación por ponentes
  </a></li>
</ul>

