<h1>Post-DevFest Madrid 2013</h1>


<p>
  Aunque el DevFest Madrid 2013 ha finalizado, todavía queda mucho trabajo por
  hacer y mucha información para recopilar. Esta sección está dedicada a
  aglutiar todo el material generado en el evento. Queremos que todos aquellos
  que acudieron al evento puedan volver a ver las intervenciones de los
  ponentes, poder ver aquellas que por ser <i>tracks</i> en paralelo no se
  pudieron ver, o simplemente cualquier persona pueda ver qué es lo que ocurrió
  en el DevFest.
</p>

<p>
  Además del material del evento, es muy importante para la organización y sus
  patrocinadores poder conocer la opinión de los participantes y conocer de
  primera mano qué mejorar de cara a futuros eventos.
</p>

<h2>Vídeos del evento</h2>

<p>
  <b>Próximamente</b>
</p>

<h2>Resultados de encuestas de valoración del evento</h2>

<ul>
  <li>
    <a href="https://docs.google.com/forms/d/1UD6my-UBDLlphy3LGdM-vM4xhPKicJJXTMa7PIdgUbI/viewanalytics">
      Resultados de la encuesta de evaluación general del evento
  </a></li>
  <li>
    <a href="https://docs.google.com/forms/d/1cfOKqqXoNsv3JuElVhkVQv7QiiZl8CrU4wh-k7Ra3Lw/viewanalytics">
      Resultados de la encuesta de evaluación por ponentes
  </a></li>
</ul>

