<h1>Post-DevFest Madrid 2013</h1>


<p>
  Aunque el DevFest Madrid 2013 ha finalizado, todavía queda mucho trabajo por
  hacer y mucha información para recopilar. Esta sección está dedicada a
  aglutiar todo el material generado en el evento. Queremos que todos aquellos
  que acudieron al evento puedan volver a ver las intervenciones de los
  ponentes, poder ver aquellas que por ser <i>tracks</i> en paralelo no se
  pudieron ver, o sixfmplemente cualquier persona pueda ver qué es lo que
  ocurrió en el DevFest.
</p>

<p>
  Además del material del evento, es muy importante para la organización y sus
  patrocinadores poder conocer la opinión de los participantes y conocer de
  primera mano qué mejorar de cara a futuros eventos.
</p>

<h2>Vídeos del evento</h2>

<p>
  Todas las ponencias del evento fueron grabadas para poder ser vistas a
  posteriori. A continuación, el listado de los vídeos disponibles de las
  ponencias.
</p>

<ul class="media-list">

  <li class="media video">
    <a 
       class="pull-left" 
       href="/#/videos/koush-cyanogenmod">
      <img class="media-object video-photo"
	   src="http://i.ytimg.com/vi/QqvMMsSlpMU/0.jpg"
	   alt="Koushick Dutta (Koush) - CyanogenMod">
      <div class="media-body">
	<h4 class="media-heading">
	  Koushick Dutta (Koush) - CyanogenMod
    </a>
    </h4>
    <br/>
    <p>
      A talk about the history of CyanogenMod, why the company was founded,
      and how they plan to change the mobile industry for the better.
    </p>
    </div>
  </li>

  <li class="media video">
    <a 
       class="pull-left" 
       href="/#/videos/antoinio-zugaldia_google-glass_para_desarroladores">
      <img class="media-object video-photo"
	   src="http://i.ytimg.com/vi/IMN3CLGuuXk/0.jpg"
	   alt="Antonio Zugaldia - Google Glass para desarrolladores">
      <div class="media-body">
	<h4 class="media-heading">
	  Antonio Zugaldia - Google Glass para desarrolladores
    </a>
    </h4>
    <br/>
    <p>
      La presentación estará estructurada en dos partes. En la primera, se
      realizará una demostración practica de Google Glass, en la que se
      detallarán sus principales funcionalidades y modos de operación. A
      continuación, se pasará a explicar el modo en el que se programa
      Glassware, utilizando el Mirror API o el GDK (Glass Development
      Kit). Durante esta parte se analizará en detalle el código completo de un
      Glassware de ejemplo integrado con CartoDB.
    </p>
    </div>
  </li>

  <li class="media video">
    <a 
       class="pull-left" 
       href="/#/videos/txus-ballesteros-android-multiscreen">
      <img class="media-object video-photo"
	   src="http://i.ytimg.com/vi/6y7lfKa_LK8/0.jpg"
	   alt="Txus Ballesteros - Android Multiscreen">
      <div class="media-body">
	<h4 class="media-heading">
	  Txus Ballesteros - Android Multiscreen
    </a>
    </h4>
    <br/>
    <p>
      Uno de los principales handicaps que los diseñadores y desarrolladores nos
      encontramos en Android, es la gran variedad de pantallas y configuraciones
      nos podemos llegar a encontrar entre nuestros usuarios, en esta sesión os
      ayudaremos a conseguir que vuestras Apps puedan llegar a todos ellos y no
      morir en el intento, el camino no será fácil, pero estamos seguros de que
      merecerá la pena.
    </p>
    </div>
  </li>


  <li class="media video">
    <a 
       class="pull-left" 
       href="/#/videos/carlos-ulloa-hellorun">
      <img class="media-object video-photo"
	   src="http://i.ytimg.com/vi/E1svnu9evWg/0.jpg"
	   alt="Carlos Ulloa - HelloRun: Velocidad y ritmo en HTML5">
      <div class="media-body">
	<h4 class="media-heading">
	  Carlos Ulloa - HelloRun: Velocidad y ritmo en HTML5
    </a>
    </h4>
    <br/>
    <p>
      HelloRun es un juego en HTML5 creado por HelloEnjoy y concebido para
      aprovechar al máximo las últimas tecnologías en navegadores, tanto para
      ordenadores como para plataformas móviles.
    </p>
    <p>
      En esta charla se analiza el desarrollo del proyecto, haciendo hincapié en
      aspectos creativos y técnicos, y en los desafíos y oportunidades que
      ofrecen WebGL y Web Audio API para construir experiencias interactivas en
      3D.
    </p>
    </div>
  </li>


</ul>


<h2>Resultados de encuestas de valoración del evento</h2>

<ul>
  <li>
    <a href="https://docs.google.com/forms/d/1UD6my-UBDLlphy3LGdM-vM4xhPKicJJXTMa7PIdgUbI/viewanalytics">
      Resultados de la encuesta de evaluación general del evento
  </a></li>
  <li>
    <a href="https://docs.google.com/forms/d/1cfOKqqXoNsv3JuElVhkVQv7QiiZl8CrU4wh-k7Ra3Lw/viewanalytics">
      Resultados de la encuesta de evaluación por ponentes
  </a></li>
</ul>

