
<h1>Nota de prensa de GDG Madrid en relación al DevFest 2013</h1>

<p>
  Madrid, 22 de octubre de 2013
</p>

<p>
  El Google Developers Group de Madrid (GDG Madrid) organiza el Devfest Madrid,
  que se celebrará el día 9 de noviembre en la sede de AJE (Asociación Jóvenes
  Empresarios de Madrid).
</p>

<p>
  Se presentará en España, por primera vez desde un punto de vista técnico, el
  hardware de Google más avanzado: Google Glass y Chromecast. De ambos habrá
  varias unidades que los asistentes podrán ver y tocar en directo.
</p>

<p>
  La presentación de Glass correrá a cargo de Antonio Zugaldia, que viene de
  Washington donde triunfa con su empresa Silica Labs. Además, estarán presentes
  otros 3 de los 4 Glass Explorers españoles, cuyas empresas (MundoGlass,
  Inteligenz, Ponent 2002) patrocinan o colaboran en la organización de este
  evento.
</p>

<p>
  La presentación de Chromecast -en inglés- vendrá de la mano de Koushik Dutta
  (Koush), autor de ClockworkMod, Aircast, y miembro del núcleo duro de
  desarrolladores de la ROM alternativa de Android CyanogenMod, últimamente en
  boca de todos por su decisión de fundar una empresa alrededor de este
  fantástico trabajo Open Source. Koush fue el hacker que hizo la ingeniería
  inversa de los protocolos de Chromecast, y es por tanto la máxima autoridad
  fuera de Google en este área.
</p>

<p>
  Desde el Reino Unido repatriamos para el DevFest a Carlos Ulloa, que nos
  hablará de las posibilidades de HTML5 para videojuegos, y de su excelente
  demostración técnica hellorun, disponible en http://hellorun.helloenjoy.com/
</p>


<p>
  Javier Arévalo, veterano programador español de videojuegos con títulos tan
  conocidos como la serie Commandos, nos dará una ponencia sobre lecciones
  aprendidas en sus primeros años de programación, tan valiosas cuando uno
  empieza.
</p>

<p>
  Una jovencísima estrella española, Luis Ivan Cuende, conocido entre otras
  cosas por la distribucion de linux Asturix, trae como tema la muy polémica
  moneda de pago virtual BitCoin.
</p>

<p>
  Andreu Ibañez, del GDG Lleida, trae su sistema Liquid Galaxy, que permite
  disfrutar de Google Earth en su sistema multipantalla controlado con un mando
  3D. Liquid Galaxy es la instalación más famosa relacionada con Google Earth,
  de hecho la propia Google tiene una instalación en su zona de visitas del
  Google Plex de Mountain View.
</p>

<p>
  Con el objeto de obtener el máximo provecho de cada una de las ponencias, el
  aforo total del evento está limitado a 150 personas. Todas las ponencias
  tendrán un turno amplio de preguntas y de interacción tanto con el hardware
  -se podrá tocar Google Glass, Chromecast y Liquid Galaxy- como con los
  ponentes, además por supuesto de con los miembros del GDG Madrid,
  organizadores del evento.
</p>

<p>
Las entradas pueden reservarse a través del siguiente enlace:<br/>
<a href="http://devfestmadrid2013.eventbrite.es/">http://devfestmadrid2013.eventbrite.es/</a>
<br>
Código de acceso: <b>GDGMADPR</b>
</p>

<p>
La información general del evento está disponible en:
<a href="http://devfestmadrid.com">http://devfestmadrid.com</a>
</p>
