
body {
    background: #f0f0f0;
}

footer {
    border-top: 1px solid #c4c4c4;
}

.center {
    text-align: center;
}

#logo {
    content: url("../images/devfest-2013_logo.png");
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
	padding: 5px 5px 5px 5px;
}

#gdg-icon {
    height: 16px;
    width: 16px;
}

#patrocinadores-container {
    margin-top: 100px;
    border-top: 1px solid #c4c4c4;
}


img.sponsor-logo {
    max-width: 250px;
}

img.organizador-logo {
    max-width: 200px;
}

img.agencia-logo {
    max-width: 200px;
}

img.colaborador-logo {
    max-width: 150px;
}

.thumbnail {
    background-color: #f5f5f5;
}
.thumbnail .caption {
    text-align: center;
}


.ponente {
    padding-top: 15x;
    padding-bottom: 15px;
}

/**
 * ponente image
 */
.ponente-photo {
    max-width: 84px;
}


.logo-devfest {
    max-width: 350px;
}

#carousel-location {
    max-width: 470px;
    max-height: 400px;
}


img.carousel {
    max-height: 350px;
}


table.agenda {
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
}

col.horas {
    width: 130px;
}

tr.bloque1 {
    height: 30px;
}

tr.bloque2 {
    height: 60px;
}

tr.bloque3 {
    height: 90px;
}



.video {
    padding-top: 15x;
    padding-bottom: 15px;
}

/**
 * video image
 */
.video-photo {
    max-width: 140px;
}


