body {
	background: #f0f0f0;
}

footer {
	border-top: 1px solid #c4c4c4;
}

#logo {
	content: url("../images/devfest-2013_logo.png");
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding: 5px 5px 5px 5px;
}

#gdg-icon {
    height: 16px;
    width: 16px;
}

#patrocinadores-container {
	margin-top: 100px;
	border-top: 1px solid #c4c4c4;
}

#sponsor-logo {
	max-width: 200px;
}

#organizador-logo {
	max-width: 200px;
}

.thumbnail {
	background-color: #f5f5f5;
}
.thumbnail .caption {
	text-align: center;
}


.ponente {
    padding-top: 20x;
}
/**
 * ponente image
 */
.ponente-photo {
    max-width: 84px;
}